@import 'vars';

$primary-color: $crimson;
$secondary-color: $aquamarine;
$custom-colors: (
  "replace": $dark-orange
);
$theme-colors: (
  "primary": $aquamarine,
  "secondary": $crimson
);
$theme-colors: map-merge($theme-colors, $custom-colors);

@import '../node_modules/bootstrap/scss/bootstrap';

body {
  background-color: $alice-blue;
  color: $dark-orange;
}

.my-bg {
  background-color: shift-color($black, -80%);
}
